{% extends "base.html" %}

{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>{{cname}}</h1>
                <hr>
                <p>Music genre: {% for m in mgenre %} {{m}}  {% endfor %}</p>
                <p>Instrument: {% for i in iname %} {{i}} {% endfor %}</p>
                <p>DUB games:</p>
                {% for gname, g_url in games %}
                    <div><a href={{g_url}}>{{gname}}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>

{% endblock %}
