{% extends "base.html" %}

{% block body %}
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>{{dname}}</h1>
                <form method="POST" action="/search">
                    <p>Search <input type="text" name="name"> <input type="submit" value="search"></p>
                </form>
                <p>Developer: {{dname}}</p>
                <p>Date of establishment: {{started}}</p>
                <p>Location: {{location}}</p>
                <p>Published games:</p>
                {% for gname, g_url in games %}
                    <div><a href={{g_url}}>{{gname}}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
 </div>


    

{% endblock %}
